<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/wwf_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wwf_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SHB_Andriod.NoActionBar"
        tools:targetApi="31" >
        <!-- Declare MainPage as the launcher activity -->
        <activity android:name=".pages.MainPage"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Declare SurveyActivity as a normal activity -->
        <activity android:name=".pages.SurveyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.ObservationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.DataVisualizationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>